
{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <form method="POST" action="">

        <!-- hidden_tag used for security purpose -->
        {{ form.hidden_tag() }}

        <!-- The form to get the User Key -->
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Questionnaire Part 1</legend>

            {% for field in form %}
            <tr>
                {% if field.type == "RadioField" %}
                    <div class="form-group">
                        <td>
                            {{ field.label(class = "form-check-label", style="padding-right:4px" )}}
                            <br>
                        </td>
                        <td>
                            <!-- Display all the errors to the users -->
                            {% if field.errors %}
                            {{ field(class="form-check is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                                {% for subfield in field %}
                                    <tr>
                                        <td>{{ subfield }}</td>
                                        <td>{{ subfield.label(style="padding-right:5px;") }}</td>
                                    </tr>
                                    {% endfor %}
                            {% endif %}
                        </td>

                    </div>
                {% endif %}
            </tr>
            {% endfor %}
        </fieldset>



        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>


{% endblock content %}



